.all{
 display:flex;

align-items: center;
}
.icon{
   
}
.heading1{
    display:flex;
    gap:10px;
    margin-left:20px;
    color:black;
    flex-direction: row;       
}
.kk{
    display: flex;
    flex-direction:start;
    gap:20px;
}
.heading2{
display:flex;
    color:black;  
    gap:10px;
    margin-left:32px;
    
}
.heading3{
    color:black   

}

.headerItem{
    color:black;
}
.dot{
    position:absolute;
    z-index: -1;
   
    display:flex;
    
}
.hero-container{
   
    align-items: center;
    display:flex;
    flex-direction: row;
    
}
.cl{
    
    justify-content: center;
}
.c12{
    display:flex;
    justify-content: center;
    margin-top:300px;
    font-size:38px;
    font-family:arial;
}
.c13{
    font-size: 15px;
    display:flex;
    justify-content: center;
    margin-top:20px;
}
.heading4{
    display:flex;
    gap:20px;
    justify-content: center;
    margin-top:20px;
}
.border{
    background-color:  rgb(167, 181, 200);
    width:400px;
    margin-top:20px;
    border-radius: 25px;
    text-align: center;
}
.c{
    background-color:  rgb(167, 181, 200);
    width:400px;
    margin-top:20px;
    border-radius: 25px;
    text-align: center;
}
.x{
    background-color:  rgb(167, 181, 200);
    width:400px;
    margin-top:20px;
    border-radius: 25px;
    text-align: center;
}
.save1{
    color:blue;
    text-align: center;
}
.from1{
    text-align: center;
}
.from2{
    text-align: center;
}
.save{
    color:blue;
    text-align: center;
}
.save2{
    color:blue;
    text-align: center;
}
.galaxy1{
    text-align: center;
}
.galaxy2{
    text-align: center;
}
.galaxy{
    text-align: center;
}
.x{
    background-color:  rgb(167, 181, 200);
    width:300px;
    margin-top:20px;
    border-radius: 25px;
    text-align: center;
}

.from{
    text-align: center;
}
.zurag1{
    width:190px;
    height:200px;
    align-items: center;
    text-align: center;
}
.zurag2{
    width:190px;
    height:200px;
    align-items: center;
    text-align: center;
}
.zurag{
    width:200px;
    height:200px;
    align-items: center;
    text-align: center;
}
.text{
    display:flex;
    flex-direction: column reverse;
}
.Tovch{
    margin-top:30px;
    background-color: black;
    color:white;
    border-radius: 40px;
}